@model App6.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserDetail</title>
</head>
<body>
    <h1>Strongly typed views eg1</h1>
    <p>@Model.firstname</p>
    <p>@Model.lastname</p>
    <p>@Model.email</p>
</body>
</html>
