<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>App3</title>
</head>
<body>
    <div>Employee Detail</div>
    <ul>
        <li>@ViewBag.MyEmployee.EmpID</li>
        <li>@ViewBag.MyEmployee.EmpName</li>
        <li>@ViewBag.MyEmployee.Salary</li>
    </ul>
</body>
</html>