
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gallery</title>
</head>
<body>
    <h1>Gallery</h1>
    @await Component.InvokeAsync("PhotoGallery", new { n = 6 })
</body>
</html>
