
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Admin Home Index page</h1>
    <a asp-area="" asp-controller="Home" asp-action="Index">Main Home</a>
</body>
</html>
